<div class="landingpage-container">

  <div class="animation">
    <div class="banner" style="background-color: black">
      <%= video_tag "https://res.cloudinary.com/dcuj8efm3/video/upload/v1678286863/routes_tc0g77.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>

      <div class="banner-content">

      <%= image_tag "map_animated.gif", height: 120 , id: "gif" %>

<script>
 const gif = document.getElementById("gif")
 setInterval(function() {
  gif.src = "assets/map_animated.gif"
 }, 6000)
</script>

        <h1 id="home-title" > myRoutes </h1>
  </div>
    </div>
      </div>
</div>

<div class="cards-instructions my-4">

  <div class="card-step">
    <h2>Step 1</h2>
    <p style="text-align:center;"> First, download our app! </p>
    <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
  </div>

  <div class="card-step">
    <h2>Step 2</h2>
    <p style="text-align:center;"> Second, input your first location </p>
    <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
  </div>

  <div class="card-step">
    <h2>Step 3</h2>
    <p style="text-align:center;"> Thirdly, save your route </p>
    <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ndc13/profile"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/neilcairns/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/NeilCairns"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/neildanielcairns"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © myRoutes 2023
  </div>
</div>
