<div class="landingpage-container">

  <div class="animation">
    <div class="banner" style="background-color: black">
      <%= video_tag "https://res.cloudinary.com/dcuj8efm3/video/upload/v1678286863/routes_tc0g77.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>

      <div class="banner-content">

      <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678444548/map_animated_d4rahd.gif", height: 1git 20 , id: "gif" %>

      <script>
      const gif = document.getElementById("gif")
      setInterval(function() {
        gif.src = "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678444548/map_animated_d4rahd.gif"
      }, 6000)
      </script>

        <h1 id="home-title" > myRoutes </h1>
  </div>
    </div>
      </div>
</div>

<div class="cards-instructions my-4">

  <div class="card-step">
    <h2> Step 1</h2>
    <p style="text-align:center;"> Download our app! </p>
    <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
  </div>

  <div class="card-step">
    <h2> Step 2</h2>
    <p style="text-align:center;"> Add your first location </p>
    <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
  </div>

  <div class="card-step">
    <h2> Step 3</h2>
    <p style="text-align:center;"> Save your route </p>
    <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
  </div>
</div>
