<div class="landingpage-container">
  <div class="animation">
    <div class="banner" style="background-color: black">
      <%= video_tag "https://res.cloudinary.com/dcuj8efm3/video/upload/v1678286863/routes_tc0g77.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>
      <div class="banner-content">

        <div class="home-title-container">
          <div class="d-flex justify-content-center align-items-center" data-controller="gif-loop">
            <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678444548/map_animated_d4rahd.gif", height: 120 , data: {gif_loop_target: "gif"} %>
            <h1 id="home-title" style="font-weight: bold"> myRoutes </h1>
          </div>
          <%= link_to "Begin your journey", routes_path, class: "btn-byj btn btn-primary" %>

          <a class="ct-btn-scroll ct-js-btn-scroll scroll-btn" href="#section1"> <%= image_tag("downarrow.png", width:"100") %></a>
        </div>


      </div>
    </div>
  </div>

  <section class="company-heading intro-type" id="parallax-one" style="text-align:center">
    <div class="container">
      <div class="row product-title-info">

      </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/anchor/company-hero2.jpg);"></div>
  </section>


  <div id="section1" class="cards-instructions mb-4">
    <div class="card-step">
      <h2 style="margin: 10px;"> Step 1</h2>
      <p style="text-align:center;"> Dream about your favourite location! </p>
      <div class="d-flex justify-content-center w-100">
        <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
      </div>
    </div>

    <div class="card-step">
      <h2 style="margin: 10px;"> Step 2</h2>
      <p style="text-align:center;"> Add your locations and create your route! </p>
      <div class="d-flex justify-content-center w-100">
        <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
      </div>
    </div>

    <div class="card-step">
      <h2 style="margin: 10px;"> Step 3</h2>
      <p style="text-align:center;"> Save your route and enjoy! </p>
      <div class="d-flex justify-content-center w-100">
        <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", height: 90 %>
      </div>
    </div>
  </div>
</div>


<div class="main">
  <section id="section2">

    <div class="p-5 mb-4 bg-light rounded-3" style= "text-align:center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Maximize your travel efficiency. Use myRoutes.</h1>
        <p class="fs-4 mb-5">Fed up of not being able to save your routes on GoogleMaps? Join our community of users to maximize your travel efficiency. From storing your routes on our website to viewing your saved routes, we've got you sorted!</p>
        <%= link_to "Start now!", routes_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>

  </section>
</div>

<!--Testimonials------------------->
<section id="testimonials">
  <!--heading--->
  <div class="testimonial-heading">
    <span>What our customers say:</span>
  </div>
  <!--testimonials-box-container------>
  <div class="testimonial-box-container">
      <!--BOX-1-------------->
      <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
              <!--profile----->
              <div class="profile">
                  <!--img---->
                  <div class="profile-img">
                    <img src="https://xsgames.co/randomusers/avatar.php?g=male" />
                  </div>
                  <!--name-and-username-->
                  <div class="name-user">
                    <strong>Touseeq Ijaz</strong>
                    <span>@touseeqijazweb</span>
                  </div>
              </div>
              <!--reviews------>
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i><!--Empty star-->
              </div>
          </div>
          <!--Comments---------------------------------------->
          <div class="client-comment">
            <p>myRoutes has increased my travel effiency massively! It's a great alternative to all the other travel planners I used beforehand. I would definitely recommend this app to anyone willing to plan their trips before travelling!</p>
          </div>
      </div>
      <!--BOX-2-------------->
      <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
              <!--profile----->
              <div class="profile">
                  <!--img---->
                  <div class="profile-img">
                    <img src="https://xsgames.co/randomusers/avatar.php?g=female" />
                  </div>
                  <!--name-and-username-->
                  <div class="name-user">
                    <strong>J.K Rowling</strong>
                    <span>@jkrowling</span>
                  </div>
              </div>
              <!--reviews------>
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i><!--Empty star-->
              </div>
          </div>
          <!--Comments---------------------------------------->
          <div class="client-comment">
              <p>myRoutes ticks all the boxes! From their simply designed website to transferring to GoogleMaps whilst on the go, I couldn't have asked for more! I love sharing my routes with my friends and family!</p>
          </div>
      </div>
      <!--BOX-3-------------->
      <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
              <!--profile----->
              <div class="profile">
                  <!--img---->
                  <div class="profile-img">
                      <img src="https://xsgames.co/randomusers/avatar.php?g=male" />
                  </div>
                  <!--name-and-username-->
                  <div class="name-user">
                      <strong>Harry Potter</strong>
                      <span>@DanielRedclief</span>
                  </div>
              </div>
              <!--reviews------>
              <div class="reviews">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i><!--Empty star-->
              </div>
          </div>
          <!--Comments---------------------------------------->
          <div class="client-comment">
              <p>myRoutes has increased my travel effiency massively! It's a great alternative to all the other travel planners I used beforehand. I would definitely recommend this app to anyone willing to plan their trips before travelling!</p>
          </div>
      </div>
      <!--BOX-4-------------->
      <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
              <!--profile----->
              <div class="profile">
                  <!--img---->
                  <div class="profile-img">
                      <img src="https://xsgames.co/randomusers/avatar.php?g=female" />
                  </div>
                  <!--name-and-username-->
                  <div class="name-user">
                      <strong>Oliva</strong>
                      <span>@Olivaadward</span>
                  </div>
              </div>
              <!--reviews------>
              <div class="reviews">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i><!--Empty star-->
              </div>
          </div>
          <!--Comments---------------------------------------->
          <div class="client-comment">
            <p>myRoutes has increased my travel effiency massively! It's a great alternative to all the other travel planners I used beforehand. I would definitely recommend this app to anyone willing to plan their trips before travelling!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
