<div class="container-nik">

  <%# Left side of page %>
  <div class="route-content">
    <div class="page-action m-3">
      <div class="info-and-back">
        <%= link_to '<i class="fa-solid fa-floppy-disk"></i> Save'.html_safe, route_path(@route), class: "btn btn-outline-primary" %>
      </div>
      <div class="page-action-buttons">
        <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, route_path(@route), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-warning mx-2" %>
      </div>
    </div>

    <div class="route-title mt-2 mx-3">
      <h1 class="text-center"><strong><%= @route.title %></strong>(editing)</h1>
    </div>

    <%# Search field & destination display %>
    <div class="route-destinations">

      <div class="route-destinations-form mb-3 mx-3">
          <div class="form-whole">
              <%= simple_form_for [@route, @destination], html: { class: 'form-inline w-100 d-flex flex-row-reverse' }, data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]} do |f| %>
                <%# <div class="form-left"> %>
                  <%= f.input :title,
                        input_html: {data: { class: "mb-0", address_autocomplete_target: "title" }},
                        label: false,
                        as: :hidden %>

                  <%= f.input :latitude,
                      input_html: {data: { class: "mb-0", address_autocomplete_target: "latitude" }},
                      label: false,
                      as: :hidden %>

                  <%= f.input :longitude,
                      input_html: {data: { class: "mb-0", address_autocomplete_target: "longitude" }},
                      label: false,
                      as: :hidden %>

                  <%= f.input :city,
                        input_html: {data: { class: "mb-0", address_autocomplete_target: "city" }},
                        label: false,
                        as: :hidden %>

                  <%= f.input :address,
                        input_html: {data: { class: "mb-0", address_autocomplete_target: "address"}},
                        label: false
                        %>
                <%# </div> %>

                <%# <div class="form-right"> %>
                  <%= f.submit "Add", class: "btn btn-outline-primary mx-2" %>
                <%# </div> %>
              <% end %>
          </div>
      </div>

      <div class="route-destinations-display" data-controller="sortable" data-sortable-url="/routes/<%= @route.id %>/route_destinations/:id/move" data-count="<%= @route.route_destinations.count %>" data-route-destinations-count="<%= @route.route_destinations.count %>" data-route-id="<%= @route.id %>">
        <% @route.route_destinations.order(position: :asc).each_with_index do |route_destination, index| %>

          <div class="card-destination card-border" data-id="<%= route_destination.id %>" data-sortable-target="results">

            <div class="destination-drag-icon">
              <i class="fa-solid fa-bars"></i>
            </div>

            <div class="destination-bubble">
              <span class="dest-position"><%= route_destination.position %></span>
            </div>

            <div class="destination-text">
              <div class="destination-title">
                <%= route_destination.destination.title %>  <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, destination_path(route_destination.destination), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
              </div>
              <% if route_destination.destination.title == "Custom location" %>
                <div class="destination-address">
                  <%= route_destination.destination.address%>
                </div>
              <% else %>
                <div class="destination-address">
                  <%= route_destination.destination.address.split(",")[1..-1].join(", ") %>
                </div>
              <% end %>
            </div>

          </div>

        <% end %>
      </div>

    </div>
  </div>

  <%# Right side of page %>
  <div class="destination-map-and-specs">

    <div class="destination-specs">
      <p><i class="fa-solid fa-person-walking"></i> &nbsp<strong> <%= @route.distance %></strong> km<br>
         <i class="fa-solid fa-stopwatch"></i> &nbsp<strong><%= @route.time %></strong> mins  <br>
      </p>

    </div>

    <div id="map"
      data-controller="map"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-route-id-value="<%= @route.id %>"
    ></div>

</div>
