<div class="container">
  <div class="page-actions">
    <div class="page-actions-back">
    </div>
    <div class="page-actions-sharing my-2">
      <i class="fa-solid fa-arrow-up-from-bracket px-3"></i>
    </div>
  </div>

  <div class="route-title my-1">
    <h1><strong><%= @route.title %></strong></h1>
  </div>

  <div class="route-actions">
    <%= link_to '<i class="fa-regular fa-trash-can"></i> Delete route'.html_safe, route_path(@route), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-warning mx-2" %>
    <%= link_to '<i class="fa-solid fa-floppy-disk"></i> Save route'.html_safe, route_path(@route), class: "btn btn-outline-primary" %>
  </div>

  <div class="route-content my-1">

    <div class="route-destinations">
      <div class="route-destinations-actions m-3">
        <h2>Add destinations to your route</h2>
      </div>

      <div class="route-destinations-form mx-3">
        <%= simple_form_for [@route, @destination], html: { class: 'form-inline' } do |f| %>

          <div class="form-whole">
            <div class="form-left">
              <%= f.input :address,
                input_html: {data: {address_autocomplete_target: "address"}},
                label: false,
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                %>
            </div>
            <div class="form-right">
              <%= f.submit "Add", class: "btn btn-outline-primary mx-2" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="route-destinations-display" data-controller="sortable" data-sortable-target="results">
        <% @route.destinations.each_with_index do |destination, index| %>
        <div class="card-destination" >
          <div class="destination-bubble">
          </div>
          <div class="destination-text">
            <span class="destination-title"><%= destination.title %></span>
            <span class="destination-address"><%= destination.address %></span>
            <%= link_to "Delete", destination_path(destination), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
          </div>
        </div>
        <% unless index == (@route.destinations.length - 1) %>
          <div class="bubble-line-connection">
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="destination-map p-1">
      <%= render "shared/map" %>
    </div>
  </div>

</div>
