<div class="heading">
  <h1>Welcome, <%= current_user.first_name.capitalize %>!</h1>
  <%= link_to "Add a new route", new_route_path, class: "btn btn-success mx-2"%>
</div>

<div class="main-container">

  <div class="cards-routes">

    <h1>My saved routes</h1>
    <% @routes.each do |route| %>

      <div class="card-route">

        <div class="card-route-top px-3 py-2">
          <div class="card-route-city p-2">
            <%= route.city %>
          </div>
          <div class="card-route-actions">
            <%= link_to '<i class="fa-solid fa-map-location-dot"></i> Navigate'.html_safe, route.google_url, target: "_blank", class: "btn btn-outline-primary mx-2"%>
            <div class="input-group" style="width: auto;" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">

              <div class="input-group-append" >
                <button id="copy-button" class="btn btn-outline-primary" data-action="click->clipboard#copy"><i class="fa-solid fa-share-nodes"></i> Copy route link</button>
                <input class="form-control invisible copy-input" data-clipboard-target="input" type="text" value="<%= route.google_url %>" readonly>
              </div>
            </div>

         </div>
        </div>

        <div class="card-route-center px-3 py-4">

          <div class="cut-out-right bottom left"></div>
          <div class="cut-out-left bottom right"></div>

          <div class="card-img-and-title mx-2">
            <div class="card-route-img avatar-bordered-large">
              <%= link_to route_path(route) do %>
                    <% if route.photo.attached? %>
                      <%= cl_image_tag route.photo.key, class: "avatar-bordered-large" %>
                    <% else %>
                      <%= image_tag "city_placeholder.jpg", class: "avatar-bordered-large" %>
                    <% end %>
              <% end %>
            </div>

            <div class="card-route-title px-3">
              <div class="text-description">
                Your route title
              </div>
              <div class="text-content">
                <h2><%= route.title %></h2>
              </div>
            </div>

          </div>

          <div class="card-route-specs px-3">
            <div class="text-description">
              Your route specs
            </div>
            <div class="text-content">
              <p class="mb-0"><i class="fa-solid fa-location-dot me-2"></i> <%= route.route_destinations.length %> stops</p>
              <p class="mb-0">
                <i class="fa-solid fa-stopwatch me-2"></i>
                <% if route.time.nil? %>
                  <%= 0 %> min
                <% else %>
                  <%= route.time %> min
                <% end %>
              </p>
              <p class="mb-0">
                <i class="fa-solid fa-person-walking me-2"></i>
                <% if route.distance.nil? %>
                  <%= 0 %> km
                <% else %>
                <%= route.distance %> km
                <% end %>
              </p>
            </div>
          </div>

          <div class="card-route-open">
            <%= link_to route_path(route) do %>
              <button type="button" class="btn btn-success w-100">Route details</button>
            <% end %>
          </div>

        </div>

        <div class="card-route-bottom px-3 py-2">
          <div class="route-origin mx-2">
            <span class="text-description"> <%= route.route_destinations.where(position:1)[0].destination.title %></span> <i class="fa-solid fa-map-pin"></i>

          </div>
          <div class="route-mode mx-2">
            <span class="text-description"> - - <i class="fa-solid fa-person-walking me-2"></i> - -</span>
          </div>
          <div class="route-destination mx-2">
            <i class="fa-solid fa-map-pin"></i> <span class="text-description"> <%= route.route_destinations.where(position: (route.route_destinations.length))[0].destination.title %></span>

          </div>
        </div>

      </div>
    <% end %>

  </div>
</div>
