<div class="container">
  <div class="page-actions">
    <div class="page-actions-back">
    </div>
  </div>

  <div class="route-title">
    <h1>Create a new route</h1>
    <%= simple_form_for @route, html: { class: 'form-inline w-100 route-title my-3' } do |f| %>
      <div class="row justify-content-center">
        <div class="title-text col-12">
          <%= f.input :title, placeholder: "E.g. London visit, day 1", label: "Title:" %>
        </div>
         <div class="title-text col-12">
          <%= f.input :city, placeholder: "E.g. London", label: "City:" %>
        </div>
        <div class="col-12">
          <%= f.input :photo, as: :file, placeholder: "Choose an image" %>
        </div>
        <div class="title-submit mx-3">
          <%= f.submit 'Save', class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>
  </div>
</div>

<div class="main">
  <section id="section2">

    <div class="p-5 mb-4 bg-light rounded-3" style= "text-align:center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Maximize your travel efficiency. Use myRoutes.</h1>
        <p class="fs-4 mb-5">Fed up of not being able to save your routes on GoogleMaps? Join our community of users to maximize your travel efficiency. From storing your routes on our website to viewing your saved routes, we've got you sorted!</p>
      </div>
    </div>

  </section>
</div>
